/*font-family: 'Oswald', sans-serif;*/
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    background-image: url('../img/spravochinik/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 910px;
}

.spec {
    padding-left: 20px;
    font-weight: bold;
}

.sidenav-trigger i {
    color: #0c6286;
}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay h5 {
    text-align:center;
    color:#fff;
    font-size: 50px;
    margin-top:17%;
}
.overlay-desc {
    background: rgba(128, 128, 128, 0.54);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    min-width: 300px;
}

.brand-logo img {
    width: 200px;
    height: auto;
    padding-left: 20px;
    padding-top: 4px;
}

.footer__text {
    font-weight: bold;
}

footer ul > li {
    font-weight: bold;
}

.maine__title {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 60px;
    text-align: center;
}
.card-content{
    height: 300px;
}
.main__title{
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}
h6{
    font-weight: bold;
}